<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class=" text-center">
      
        <h1 style="color:palevioletred">Contact our </h1>
        <h1>Customer Support Center</h1>
      
      </div>
    </div>
    <div class="col-md-4">
      <img src="../assets/laptop.jpg" alt="" style="width:63%">
   
    </div>
    
      
    </div>
    <div class="text-center mt-4">
      <h5>Contact Information</h5>
      <h6>Please fill out your Contact information below</h6>
    </div>
    <div class="row">
      <div>Name <span style="color: palevioletred;">*</span></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <input type="text" class="form-control">
                <label>First Name</label>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <form>
              <div class="form-group">
                <input type="text" class="form-control">
                <label>Last Name</label>
              </div>
            </form>
          </div>
        </div>
      </div>
     
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label>Email <span style="color: palevioletred;">*</span></label>
            <input type="email" class="form-control">
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label>Phone <span style="color: palevioletred;">*</span></label>
            <input type="number" class="form-control">
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label>Address <span style="color: palevioletred;">*</span></label>
            <input type="text" class="form-control">
          </div>
        </form>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
